[user]
	name = Michael Ficarra
	email = git@michael.ficarra.me
[github]
	user = michaelficarra
[core]
	excludesfile = /Users/mficarra/.gitignore
	pager = less -RSX
	abbrev = 8
	whitespace = trailing-space,space-before-tab,cr-at-eol
[push]
	default = current
[branch]
	autosetuprebase = always
[apply]
	whitespace = fix
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[diff]
	mnemonicprefix = true
	renames = copy
	algorithm = patience
[alias]
	st = status --short
	cl = clone
	ci = commit
	cia = commit -a
	cinm = commit -am ''
	bb = bisect bad
	bg = bisect good
	up = pull -v --rebase
	po = push origin
	ptohm = push --tags origin HEAD:master
	co = checkout
	cp = cherry-pick
	ls = ls-files
	br = branch -vv
	df = diff
	lg = log
	fp = format-patch
	pul = pull
	ta = tag -a
	td = tag -d
	w = whatchanged
	sm = submodule
	smi = submodule init
	smu = submodule update
	smiu = submodule update --init
	amend = commit --amend -c HEAD
	tags = tag -n1 -l
	id = describe --tag --abbrev=10
	stat = diff --stat
	staged = diff --cached
	unstage = reset
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	summary = log --oneline
	changes = log --oneline --reverse
	remotes = remote -v
	info = config --list
	ls-conflicted-files = ls-files --unmerged
	edit-conflicted-files = !$EDITOR $(git ls-conflicted-files | cut -f2)
