[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-distinguished"]
	path = .vim/bundle/vim-distinguished
	url = git://github.com/Lokaltog/vim-distinguished.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/detectindent"]
	path = .vim/bundle/detectindent
	url = git://github.com/ciaranm/detectindent.git
[submodule ".vim/bundle/file-line"]
	path = .vim/bundle/file-line
	url = git://github.com/bogado/file-line.git
[submodule ".vim/bundle/vim-indexed-search"]
	path = .vim/bundle/vim-indexed-search
	url = git://github.com/henrik/vim-indexed-search.git
[submodule ".vim/bundle/numbers"]
	path = .vim/bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule ".vim/bundle/gist-vim"]
	path = .vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule ".vim/bundle/pegjs-vim"]
	path = .vim/bundle/pegjs-vim
	url = git://github.com/alunny/pegjs-vim.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/webapi-vim"]
	path = .vim/bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/bundle/purescript-vim"]
	path = .vim/bundle/purescript-vim
	url = https://github.com/raichoo/purescript-vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
