[user]
	name = Michael Ficarra
	email = git@michael.ficarra.me
[github]
	user = michaelficarra
[core]
	excludesfile = /home/michael/.gitignore
	pager = less -RSX
	abbrev = 8
	whitespace = trailing-space,space-before-tab,cr-at-eol
[apply]
	whitespace = fix
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[diff]
	renames = copy
[alias]
	st = status
	cl = clone
	ci = commit
	cia = commit -a
	cinm = commit -am ''
	up = pull -v --rebase
	po = push origin
	co = checkout
	cp = cherry-pick
	ls = ls-files
	br = branch -a
	df = diff
	lg = log
	fp = format-patch
	ta = tag -a
	td = tag -d
	w = whatchanged
	sm = submodule
	smi = submodule init
	smu = submodule update
	smiu = submodule update --init
	amend = commit --amend -c HEAD
	tags = tag -n1 -l
	stat = diff --stat
	staged = diff --cached
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	summary = log --oneline
	changes = log --oneline --reverse
	info = config --list
	ls-conflicted-files = ls-files --unmerged
	edit-conflicted-files = !$EDITOR $(git ls-conflicted-files | cut -f2)
